<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Страница клиента</title>
</head>
<body>
    <div th:replace="common :: site-header"></div>

    <h4 th:text="'#' + ${client.getId()} + ' ' + ${client.getFull_name()}"></h4>
    <p th:text="'E-mail: ' + ${client.getEmail()}"></p>
    <p th:text="${client.getPhone()} ? 'Телефон: ' + ${client.getPhone()} : 'Телефон: (нет)'"></p>

    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <form method="get" action="/clientEdit">
            <input type="hidden" name="clientId" th:value="${client.getId()}"/>
            <button id="editButton" type="submit" class="btn btn-secondary">Редактировать</button>
        </form>
        <form method="post" action="/clientDelete">
            <input type="hidden" name="clientId" th:value="${client.getId()}"/>
            <button id="deleteButton" type="submit" class="btn btn-secondary">Удалить</button>
        </form>
    </div>

    <div th:replace="common :: site-footer"></div>
</body>
</html>