<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Клиенты</title>
    <link rel="stylesheet" type="text/css" th:href="@{main.css}">
</head>
<body>
<div th:replace="common :: site-header"></div>

<div class="indent">
    <form method="get" action="/clientEdit">
        <button id="addClientButton" type="submit" class="btn btn-primary">Добавить клиента</button>
    </form>
    <br>

    <table class="table table-bordered table-warning">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Имя</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${clients.isEmpty()}">
            <td colspan="6"> В базе пока нет ни одного клиента. <a href="/clientEdit">Добавить?</a></td>
        </tr>
        <tr th:each="client : ${clients}">
            <td><a th:href="'/clientInfo?clientId=' + ${client.getId()}">
                <span th:text="${client.getFull_name()}"> </span></a></td>
        </tr>
        </tbody>
    </table>
</div>

<div th:replace="common :: site-footer"></div>
</body>
</html>